.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  margin-bottom: 64px;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
    margin-left: auto;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
}
.contacts__item {
  &:last-child {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $tablet) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    &:first-child {
      margin-right: $cards-gap;
    }
  }
}
.contacts__link {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: getColor('text-primary');

  @media screen and (max-width: ($tablet - 1)) {
    .contacts__item:last-child & {
      font-size: 34px;
      line-height: 1.18;
      color: getColor('accent');
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
    color: grtColor('text-primary');
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }

  transition-property: color;
  @include transitionProperties();

  &--semitransparent {
    color: getColor('white-secondary');
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &--white {
    color: getColor('white-primary');
  }

  &:hover,
  &:focus {
    color: getColor('accent');
    outline: none;
  }
}

.contacts__icon {
  display: inline-block;
  margin-right: 8px;

  vertical-align: middle;
  fill: currentColor;

  &--mail {
    display: none;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      width: 14px;
      height: 10px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 10px;
      width: 16px;
      height: 12px;
    }
  }

  &--phone {
    display: none;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      width: 10px;
      height: 14px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 10px;
      width: 10px;
      height: 16px;
    }
  }
}
