.contacts {
  display: none;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}
.contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts__link {
  margin-top: 0;
  margin-bottom: 0;

  color: getColor('text-primary');
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }

  transition-property: color;
  @include transitionProperties();

  &--semitransparent {
    color: getColor('white-secondary');
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &--white {
    color: getColor('white-primary');
  }

  &:hover,
  &:focus {
    color: getColor('accent');
    outline: none;
  }
}

.contacts__icon {
  display: inline-block;
  margin-right: 8px;

  vertical-align: middle;
  fill: currentColor;

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}
