.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header__content {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
